#allpost {
    margin: 25px;
    margin-top: 50px;
  }


  
dl {
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;

  }
  dt {
    float: left;
    width: 35%;
    /* adjust the width; make sure the total of both is 100% */
    padding: 0;
    margin: 0;
    font-size:10px
  }
  dd {
    float: left;
    width: 65%;
    /* adjust the width; make sure the total of both is 100% */
    padding: 0;
    margin: 0;
    font-size:10px
  }
  .path
{
    margin-bottom: 10px;
    font-size:13px;
    color:#417394;
    margin:45px;
}
.path span
{
    margin-top:15px;

    cursor: pointer;
}

.post
{
  background-color: rgb(0, 252, 210);
  margin: 15px;
    height: auto;
    border:  solid 1px black;

}
.data
{
    background-color:#025d81; /* For browsers that do not support gradients */

    height: 10%;
}
.data p{
  color:white;
  margin-left: 15px;
  margin-bottom:5px;
}
.postcolor
{
    background-color:#f1f1f1;

    height: 100%;
  
}
.postmargin
{
   display: table; /* Make the container element behave like a table */

    margin-left:10px;

}


.postleft
{
  display: table-cell; /* Make elements inside the container behave like table cells */


    width: 20%;
}
textarea {
  width: 85%;
  height: 100px;
}
.postright
{
  display: table-cell; /* Make elements inside the container behave like table cells */

    background-color:#f2f6f8; /* For browsers that do not support gradients */
    width: 80%;

  }
.postright h2,p
{
  margin-left: 6px;
}
.postleft p
{
  text-decoration: underline;
  font-size:20px;
  color: gray;

}
.postleft img{
  float:left;
  padding: 0;
  margin: 0;
  max-width: 75px;
  max-height:75px;
  margin-right: 25px;
}
.chenar
{
  margin-top:75px;
  margin-left: 35px;
  margin-right: 35px;
  background-color:	#deecfc;
}