.threads {
    height: auto;
    margin: 35px;
    margin-top: 125px;
    background-color: #eeeeee;

  }

  table  {
    border: 1px solid grey;
    border-collapse: collapse;
  }
.table
{
    width: 100%;

}

.title,.replies,.lastpost,.subforum{
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
}
.tables
{
    margin: 25px;

}
.header
{
    display: table;
    width: 100%;
    background-color: #ffffef;
}
.title
{
    display: table-cell;
    width: 40%;
}
.replies
{
    display: table-cell;
    width: 15%;
    background-color: #f4f4fc;
}
#replies
{
    display: table-cell;
    width: 15%;
}
.lastpost
{
    display: table-cell;
    width: 25%;

}
.subforum
{
    display: table-cell;
    width: 20%;

}
#header
{
    display: table;
    width: 100%;
    background-color:#025d81;
}

th
{
    font-size:13px;

}

img{
    float:left;

    max-width: 30px;
    max-height:30px;
    margin-left: 5px;
  }

.image
{
    width: 10%;
    display: table-cell;

}
.titledata
{
    width: 90%;
    display: table-cell;
    position:relative;
}
.titledata p,a
{
    float:left;
    padding: 0px;
    margin: 0px;

   font-size: 11px;
   margin-left: 10px;
   margin-top:-15px;

}
.subforum p
{
    float:left;
    padding: 0px;
    margin: 0px;

   font-size: 11px;
   margin-left: 10px;
   margin-top:-15px;
}
.lastpost p
{
    float:left;
    padding: 0px;
    margin: 0px;

   font-size: 11px;
   margin-left: 10px;
   margin-top:-15px;
}
.replies p
{
    float:left;
    padding: 0px;
    margin: 0px;

   font-size: 11px;
   margin-left: 10px;
}

.path
{
    margin-bottom: 20px;
    font-size:13px;
    color:#417394
}
.path span
{
    margin-top:15px;

    cursor: pointer;
}