<div class="w3-container"> 
<div id="left">
    <h1>Forum</h1>

 </div>
 <div id="right" *ngIf="auth=='false'" >
    <button class="button"  routerLinkActive="active current" routerLink="/login">Login</button>
    <button class="button"  routerLinkActive="active current" routerLink="/register">Register</button>
</div>
<div id="right" *ngIf="auth=='true'">
    <button class="button"  (click)="logout()">Logout</button>
    <button class="button"  routerLinkActive="active current" routerLink="/profile">Profile</button>
    <div *ngIf="role=='admin'" style="float:left">
        <button class="button"  routerLinkActive="active current" routerLink="/admin">Admin page</button>
    </div>
</div>

</div>
<app-navigationbar></app-navigationbar>