<div class="w3-container" style="display:table;width:100%;margin-right:25px;margin-top:100px;margin-bottom: 25px;">
<div style="width: 27%; display:table-cell;">
    <div style="display:table;width:100%">
    <div style="background-color: #5053bc;width: 75%; display:table-cell; ">
    <p style="color:white;text-align: center;vertical-align: middle;">Most</p>
    <h2 style="color:white;text-align: center;vertical-align: middle;">Posts</h2>
    </div>
    <div style="background-color: #666ac1;width: 25%; display:table-cell; ">
        <h2 style="color:white;text-align: center;vertical-align: middle;">{{mostPost}}</h2>
        </div>
    </div>
<div id="chartContainer" style="height: 370px; "></div>
</div>

<div style="width: 27%;padding-right:15px;padding-left:15px; display:table-cell;">
    <div style="display:table;width:100%">
    <div style="background-color: #7e7e7e;width: 75%; display:table-cell; ">
    <p style="color:white;text-align: center;vertical-align: middle;">Most searched </p>
    <h2 style="color:white;text-align: center;vertical-align: middle;">Sub-Forum</h2>
    </div>
    <div style="background-color: #696969;width: 25%; display:table-cell; ">
        <h2 style="color:white;text-align: center;vertical-align: middle;">{{mostSearch}}</h2>
        </div>
    </div>
    <div id="chartContainer1" style="height: 370px; width: 100%; margin-left:auto;margin-right:auto;"></div>
</div>

<div style="width: 27%; display:table-cell;">
    <div style="display:table;width:100%">
    <div style="background-color: #ea4e03;width: 75%; display:table-cell; ">
    <p style="color:white;text-align: center;vertical-align: middle;">Most active</p>
    <h2 style="color:white;text-align: center;vertical-align: middle;">User</h2>
    </div>
    <div style="background-color: #e86726;width: 25%; display:table-cell; ">
        <h2 style="color:white;text-align: center;vertical-align: middle;">{{mostActive}}</h2>
        </div>
    </div>
    <div id="chartContainer2" style="height: 370px; width: 100%; margin-left:auto;margin-right:auto;"></div>
</div>

</div>