<div class="modal-header">
    <h4 class="modal-title" id="modal-title">Add a new Sub-Forum</h4>
    
  </div>
  <form novalidate  #fm="ngForm">
  <div class="modal-body">
    <p><span class="text-primary">Post name</span></p>
    <div class="form-group">
      <input id="namePost" type="text" placeholder="Name" class="form-control"  ngModel name="namePost">
    </div>
    
    <p><span class="text-primary">Post</span></p>
    <div class="form-group">
      <textarea id="dataPost"  rows="5" cols="30" class="form-control" ngModel name="dataPost"></textarea>
    </div>
    
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancel</button>
    <button type="button" class="btn btn-danger" (click)="modal.close('Ok click');onSubmit(fm);">Ok</button>
  </div>
  </form>